#about-section > h2 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

h2 > span {
    color: var(--base-varient);
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: justify;
    justify-items: center;
}

.about-paragraph > p {
    max-width: 100%;
    font-size: 16px;
    margin-top: -35px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.about-detail-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 600px;
    margin-top: 10px;
    line-height: 30px;
    border: 5px solid red;
    border-radius: 25px;
    padding: 20px;
    gap: 10px;

    /* Centering the div */
    top: 60%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-sub-detail, .about-detail {
    display: flex;
    flex-direction: row;
}

.about-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid crimson;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 50px;
}

.about-icon > i {
    font-size: 17px;
}

.about-detail > div:first-child{
    width: 120px;
    font-size: 15px;
    font-weight: 500;
}

.about-detail > div:last-child{
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    #about-section > h2 {
        font-size: 35px;
        top: 20px;
    }

    .about-detail-box {
        min-width: 90%;
        top: 55%;
        padding: 15px;
    }
    .about-icon {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .about-detail-box {
        min-width: 95%;
        top: 60%;
        padding: 10px;
    }
    .about-icon {
        margin: 0 15px;
    }
    .large-background-text {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .about-detail-box {
        position: relative;
        min-width: 100%;
        top: auto;
        transform: none;
        margin-top: 20px;
        padding: 10px;
    }
    .about-icon {
        margin: 0 10px;
    }
}