.project-section {
    background: var(--second-bg-color);
    color: white;
    padding: 80px 20px;
    min-height: 100vh;
    justify-content: center;
    overflow-y: auto;  /* Allow scrolling in the Y-axis */
    overflow-x: hidden;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 40px;
   /* margin: 50px;*/
   padding: 50px;
}

.project-container .project-box {
    position: relative;
    border-radius: 32px;
    box-shadow: 0 0 16px var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: 0.5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 64px;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 22px;
}

.project-layer p {
    font-size: 15px;
    margin: 5px 0 16px;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 15px;
    color: var(--second-bg-color);
}

.module-grid {
    display: grid;
    grid-template-columns: 1fr; /* Two columns layout */
    gap: 50px; /* Gap between columns and rows */
    margin: 40px 0; /* Add top and bottom space */
    justify-items: center;
}

.module-box {
    position: relative;
    width: 800px;
    height: 60px;
    background-color: greenyellow;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: background-color 0.5s ease-out; /* Same as image */
}

.module-box:hover {
    background-color: var(--main-color2);
}

.img{
    height: 60px;
    width: 60px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    left: 0%;

    transition: transform 0.5s ease-out;
}

.module-box:hover .img {
    transform: translateX(740px);
}

.img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.module-box p {
    position: absolute;
    font-size: 20px;
    text-wrap: balance;
    text-align: center;
    align-items: center;
    margin: 0; /* remove default margin */
    align-self: center;
    color: white;
}

