* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /*
    scroll-behavior: smooth;
    */
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

    /* COLORS */
    --tab-color: #191919;
    --white-color: #fff;

    --home-icon-color: #00f7ff;
    --about-icon-color: #ee82ee;
    --resume-icon-color: #0000FFFF;
    --skil-icon-color: #ffff00;
    --project-icon-color: darkslategray;
    --assignment-icon-color: indigo;
    --service-icon-color: #ff0000;
    --contact-icon-color: steelblue;

    --paint-icon-color: crimson;
    --plus-icon-color: #adff2f;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

li {
    list-style: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden; /* hides overflow */
}

section {
    min-height: 100vh;
    padding: 100px 9% 32px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 6%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo > p{
    font-size: 40px;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    letter-spacing: -1.6px;
}

.logo-A {
    font-size: 31px;
    line-height: 1.5;
    position: relative;
    top: -3px; /* Adjust the value to move it up or down */
    left: 2px;
}

/*.navbar a {
    font-size: 16px;
    color: var(--text-color);
    margin-left: 32px;
    border: 2px solid crimson;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}*/

.navbar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    z-index: 99;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 50%;
    box-shadow: -3px -3px 7px var(--second-bg-color), 3px 3px 5px var(--bg-color);
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 10px 0 10px 0;
    position: relative;
}

.nav_text, .custom_nav_text {
    position: absolute;
    left: -10px; /* slightly overlaps initially */
    color: var(--text-color);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-10px);
    white-space: nowrap;

    width: 0;
    height: 35px;
    background: #00f7ff;
    text-align: center;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 10px;
}

li:hover .nav_text {
    width: 100px;
    opacity: 1;
    transform: translateX(-55px); /* adjust to match the expanded width */
}


/* Hover effect */
.navbar a:hover,
.navbar a.active {
    background: var(--main-color);
    color: var(--second-bg-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image > img {
    align-self: self-end;
    object-fit: contain;       /* Ensures the image contains the container without distortion */
    width: 40vw;
    margin-top: -50px;
    box-shadow: -3px -3px 5px var(--main-color), 3px 3px 3px black;
    /*
    box-shadow: 0 0 16px var(--main-color);
    */
    border-radius: 50%;
    /*width: 90%;*/
    /*height: 90%;*/
    transform: scale(0.7) translateY(-25px);    /* Optionally scale the image */
}

.home-content {
    margin-top: 0px;
    padding-bottom: 60px;
}

.home-content h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -15px; /* space after heading */
}

.home-content h3:nth-of-type(2){
    /*
    margin-bottom: 32px;
    */
    margin-bottom: 20px; /* space after heading */
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    /*
    padding-bottom: 20px;
    */
    padding-bottom: 0;
    margin-bottom: 10px; /* space after heading */
}

.home-content p {
    font-size: 17px;
    margin-bottom: 20px; /* space after heading */
    line-height: 1.5;
    letter-spacing: 0.7px;
}

body > section > #profile-section{
    top: 2%;
    left: 3%;
    bottom: 5%;
    border: 2px solid green;
    width: 20%;
    height: 92.7vh;
    position: absolute;
    background: #ffffff;
    box-shadow: -3px -3px 7px #ceced1, 3px 3px 5px #ceced1;
    display: block;
    place-content: space-between;
}

body > section > #profile-section > #profile {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    align-self: start;
    width: 82%;
    height: 200px;
    border: 2px solid black;
    left: 26px;
    top: 20px;
    display: flex;
    background: #ecf0f3;
    border-radius: 20px;
    justify-content: center;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.image > img {
    transform: scale(1.2);!important;
    justify-self: center;
    margin-left: 0;
}

.occupation {
    position: absolute;
    width: 82%;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: crimson;
    border: 2px solid green;
    left: 26px;
    top: 225px;
    display: flex;
}

.social-media {
    background: #ffffff;
    position: absolute;
    align-self: start;
    width: 82%;
    height: 40px;
    border: 2px solid black;
    left: 26px;
    top: 260px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.social-media a {
    height: 30px;
    width: 30px;
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
    border: 1px solid crimson;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.social-media a i {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 15px;
}

.social-media a.fb i {
    color: #4267B2;
}

.social-media a.github i {
    color: black;
}

.social-media a.insta i {
    color: deeppink;
}

.social-media a.linkedIn i {
    color: mediumblue;
}

.details {
    position: absolute;
    width: 82%;
    height: 270px;
    border: 2px solid black;
    left: 26px;
    top: 315px;
    display: flex;
    justify-content: center;
}

.detail-box {
    width: 95%;
    height: 95%;
    border: 1px solid blue;
    align-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sub-detail-box {
    width: 90%;
    height: 20%;
    border-radius: 10px;
    border: 1px solid brown;
    padding: 10px;
    align-self: center;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    flex-direction: row;
    background: darkslategray;
}

.icon-detail-box {
    width: 25px;
    height: 25px;
    border: 1px solid crimson;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background: gray;
}

.icon-detail-box i, .icon-detail-box img {
    width: 16px;
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.content-detail > .detail-p {
    font-size: 11.5px;
    color: white;
    font-weight: 250;
    letter-spacing: 0.3px;
    line-height: 10px;
}

.download-cv {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 82%;
    height: 35px;
    border: 2px solid black;
    left: 26px;
    top: 595px;
    display: flex;
    border-radius: 10px;
}

.download-cv a {
    text-decoration: none;
    color: #191919;
    font-size: 17px;
}

.download-cv > a > i {
    margin: 10px;
}

body > section > footer {
    border: 2px solid purple;
    width: 94%;
    height: 3vh;
    position: absolute;
    bottom: 0.5%;
    left: 3%;
    right: 3%;
    background: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > section > footer > p {
    font-size: 11px;
    text-align: center;
}

/* Tablets/iPads */
@media all and (max-width: 768px) {
    /* Styles for tablets/iPads */

    li i{
        font-size: 20px;
    }

    body > section > #profile-section{
        visibility: hidden;
    }

    /*
    body > section > header {
    */
    body > section > #default_header {
        width: 88%;
        left: 3%;
        right: 5%;
    }

    body > section > #edit-section {
        right: 2.5%;
        top: 3.5%;
        width: 6%;
        aspect-ratio: 1/1;
    }

    body > section > #edit-section > #theme-switch i {
        font-size: 20px;
    }

    .nav_text, .custom_nav_text {
        font-weight: 350;
        font-size: 7.5px;
        transform: translateY(9px);
    }

    li:hover .nav_text {
        transform: translateY(18px);
    }

    li:hover .custom_nav_text {
        opacity: 1;
        transform: translateY(23px);
    }

    .nav_light {
        width: 18px;
        height: 2px;

        border-radius: 2px;
        left: 179px;
    }

    .nav_light::before {
        width: 34px;
        height: 50px;
    }

    .logo {
        margin-right: 4px;
        padding-right: 3px;
    }

    body > section > #hero-section{
        /*align-self: center;*/
        border: 2px solid red;
        width: 94%;
        height: 78vh;
        left: 3%;
        right: 3%;
    }
}


/* Laptops/Small Screens */
@media all and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for laptops/small screens */
}

/* Desktops/Large Screens */
@media all and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for desktops/large screens */

    .nav_light {
        left: 206.5px;
    }

    body > section > #default_header {
        left: 26%;
        right: 9%;
        width: 66%;
    }

    body > section > #default_header > nav {
        width: 82%;
    }

    body > section > #edit-section {
        right: 3%;
        top: 3%;
        width: 4%;
    }

    body > section > #hero-section{
        /*align-self: center;*/
        right: 2%;
        left: 26%;
        height: 80%;
    }

    body > section > #hero-section > .profile-pic {
        width: 350px;
        height: 350px;

        /*
        transform: scale(0.8);
        */
    }

    body > section > #hero-section > .profile-pic > img {
        width: 350px;
    }

    body > section > #profile-section {
        width: 22%;
        left: 2%;
        height: 92.5vh;
    }

    .image {
        width: 82%;
        height: 150px;
    }

    .occupation {
        left: 26px;
        top: 180px;
        display: flex;
    }

    .social-media {
        top: 215px;
        height: 35px;
    }

    .social-media a {
        height: 25px;
        width: 25px;
    }

    .social-media a i {
        line-height: 25px;
    }

    .details {
        top: 265px;
        height: 250px;
    }

    .detail-box {
        height: 92%;
        justify-content: space-between;
    }

    .sub-detail-box {
        width: 93%;
        height: 20%;
        font-size: 12px;
    }

    .content-detail > .detail-p {
        font-size: 10px;
    }

    .download-cv {
        top: 520px;
        border-radius: 8px;
    }

    body > section > footer {
        width: 96%;
        left: 2%;
    }
}

@media all and (min-width: 1441px) {

}

